button + button {
    margin-left: 0.5em;
}

output {
    margin-right: 0.5em;
}

footer {
    font-size: 0.8em;
    background: #d7d7db;
    padding: 0.2em;
    margin-top: 1em;
}

footer ul {
    margin: 0;
    padding: 1em 0;
    list-style-type: none;
}

footer ul li {
    display: inline-block;
    margin: 0;
    padding: 0;
    margin-right: 1em;
}

.currentSound-label {
    font-weight: bold;
}

.currentSound-label > output {
    font-weight: normal;
}

.filterlist {
    max-height: 500px;
}

.filterlist form,
.filterlist form label {
    display: flex;
    align-items: baseline;
}

.filterlist form label,
.filterlist ul > li span {
    flex-grow: 2;
    margin-right: 0.5em;
}

.filterlist form label input {
    flex-grow: 2;
    margin-left: 0.5em;
}

.filterlist ul {
    list-style-type: none;
    margin: 0.5em 0;
    padding: 0;
}

.filterlist ul > li {
    margin: 0;
    padding: 0;
}

.filterlist ul > li details {
    padding: 0.25em 0;
}

.filterlist ul > li details > summary {
    list-style-position: outside;
    margin-left: 1em;
}

.filterlist ul > li details > summary > div,
.filterlist ul > li.no-details {
    display: flex;
}

.subsection {
    margin-left: 24px;
}

.error {
    background: #ff0039;
    color: white;
    padding: 0.5em;
    margin-bottom: 0.5em;
}
