#playSound,
output {
    margin-right: 0.5em;
}

label[for="currentSound"] {
    font-weight: bold;
}

.filterlist {
    max-height: 500px;
}

.filterlist form,
.filterlist label {
    display: flex;
    align-items: baseline;
}

.filterlist label,
.filterlist ul > li span {
    flex-grow: 2;
    margin-right: 0.5em;
}

.filterlist label input {
    flex-grow: 2;
    margin-left: 0.5em;
}

.filterlist ul {
    list-style-type: none;
    margin: 0.5em 0;
    padding: 0;
}

.filterlist ul > li {
    margin: 0;
    padding: 0.25em 0;
    display: flex;
}

footer {
    font-size: 0.8em;
}

.subsection {
    margin-left: 24px;
}
